<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="My channel">
        <setting label="Channel name:" type="text" id="channelName" default="" />
        <setting label="URL:" type="text" id="channelURL" default="http://172.22.255.145:8888/" />
        <setting label="Avatar:" type="text" id="channelAvatar" default="avatar.jpg" />
    </category>
    <category label="Video settings">
        <setting label="Window Width:" type="number" id="width" default="480" option="int" />
        <setting label="Window Height" type="number" id="height" default="480" option="int" />
        <setting label="Refresh Interval (in milliseconds):" type="slider" id="interval" default="500" range="50,50,1000" option="int" />
        <setting label="Duration (in seconds):" type="slider" id="duration" default="15" range="3,1,120" option="int"/>
        <setting label="Enable auto-close after duration:" type="bool" id="autoClose" default="true" />
    </category>
</settings>
